body{
    background:#eef2f7;
}

.card{
    border:none;
    border-radius:15px;
}

.navbar{
    box-shadow:0 4px 10px rgba(0,0,0,.2);
}

h2{
    font-weight:bold;
}

.card-body h2{
    color:#0d6efd;
}
